# Default ignored files
/shelf/
/.idea/workspace.xml
/.idea/description.html
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/project-template.xml
/.idea/workspace.xml
/out/
/lesson12.iml
